* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app-header {
  background-color: #fff;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}
.app-header-image {
  width: 150px;
}

/* POST */
.post {
}
.post-image {
  width: 100%;
  object-fit: contain;
}
.post-text {
  /* font-weight: normal; */
}
